.logout-button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.logout-button:hover {
    background-color: darkred;
}
