header{
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    margin-left: 20px;
    font-size: larger;
    
}
footer {
    text-align: center;
}
footer p a{
    text-decoration: none;
    color: rgb(71, 67, 67);
    font-size: larger;
}

header img{
    margin-right: 10px;
}
header h1{
    color: pink;
}



.content-section {
    flex: 3;
    background-color: #eaeaea;
    padding: 20px;
    
    margin: 20px;

    height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(71, 67, 67);
    

}
