body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .dashboard {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .buttons button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Sign Out button style */
  .buttons button:last-child {
    background-color: #ff6666;
    color: white;
  }
  
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: left;
  
    max-height: 80%;  /* Set max height for scrolling */
    overflow-y: auto;  /* Enable vertical scrolling */
  }
  
  .scrollable-content {
    max-height: 300px;  /* Adjust based on preference */
    overflow-y: auto;
  }
  
  .close {
    float: right;
    font-size: 24px;
    cursor: pointer;
  }